<?xml version="1.0" encoding="UTF-8"?>
<launch>
 
    <node pkg="slam" type="cone_detection" name="cone_detection" output="screen"/>
    <node pkg="slam" type="slam" name="slam" output="screen"/>

    <!-- Rviz visualization-->
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find slam)/rviz/rviz_config.rviz" />
	
     <!-- Static transforms between scanners and map frame -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="link_map_world" args="0 0 0 0 0 0 map world" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="link_map_cloud" args="0 0 0 0 0 0 map cloud" />    
    <node pkg="tf2_ros" type="static_transform_publisher" name="link_map_lidar" args="0 0 0 0 0 0 map lidar" /> 

</launch>